%h1
  =@test.title
%table
  %thead
    %th
      ID
    %th
      Body
    %th{colspan: 3}
      Actions
  %tbody
    = render @test.questions
%p
  = link_to "New_question", new_test_question_path(@test)
%p
  = link_to "Back to Tests", root_path
