%footer
  %p
    Antonov Evgeny
    = current_year
  %p
    Test Guru
  %p
    Github:
    = github_url "djeiky", "test_guru"
  %p
    = link_to "Учебный проект в онлайн-школе Thinknetica", "http://thinknetica.com/", target: :_blank
