%p
  = @question.body
%p
  %ol
    = render @question.answers
%p
  = link_to "New answer", new_admin_question_answer_path(@question), class: "btn btn-primary"
%p
= link_to "Back", admin_test_questions_path(@question.test), class: "btn btn-primary"
